@model Cotati.Models.SearchResponse

@{
    ViewData["Title"] = "Search";
}

<style type="text/css">
    .green-webpages-url {
        color: #89c402
    }

    a {
        color: #0072c6;
    }
</style>

<style>
    .navbar-row{
        border-bottom:solid;
        vertical-align:middle;
        padding-top:1vh;
        max-height:5vh;
    }
    .navbar {
        list-style-type: none;
    }

    .navbar-item{
        display:inline;
    }
</style>


<div class="navbar-row">
    <div class="container">
        <div class="row">
            <div class="offset-xlg-1 offset-lg-1 col-xlg-6 col-lg-7 col-sm-12">
                <div class="navbar-container">
                    <ul class="navbar">
                        <li class="navbar-item navbar-item-active">
                            <a href="/search?q=mindfulness+fovant" class="navbar-link" data-trans-id="nav_searchoptions_web" data-tabindex="">Web</a>
                        </li>
                        <li class="navbar-item">
                            <a href="/images?q=mindfulness+fovant" class="navbar-link" data-trans-id="nav_searchoptions_images" data-tabindex="">Images</a>
                        </li>
                        <li class="navbar-item">
                            <a href="/news?q=mindfulness+fovant" class="navbar-link" data-trans-id="nav_searchoptions_news" data-tabindex="">News</a>
                        </li>
                        <li class="navbar-item">
                            <a href="/videos?q=mindfulness+fovant" class="navbar-link" data-trans-id="nav_searchoptions_videos" data-tabindex="">Videos</a>
                        </li>
                        <li class="navbar-item">
                            <a href="/maps?q=mindfulness+fovant" class="navbar-link" data-trans-id="nav_searchoptions_maps" data-tabindex="">Maps</a>
                        </li>
                
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<h13>@Model.SearchRequest</h13>


<ul style="list-style:none;padding-top:5vh;padding-left:0vw;margin-top:10vh">

    @foreach (var item in Model.webpages.Value)
    {
        <li><a href="@item.Url">@Html.Raw(item.Name)</a></li>
        <li class="green-webpages-url">@Html.Raw(item.DisplayUrl)</li>
        <li style="padding-bottom:10px">@Html.Raw(item.Snippet)</li>

        <li style="padding-bottom:10px">

            <a href="@item.Url"></a>
        </li>
    }
</ul>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>